*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
.idea/
*.apk
*.aab
.DS_Store?

# Build outputs at any depth
app/build/
build/reports/
build/tmp/

